@charset 'UTF-8';
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    height: 60px;
    line-height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.system-title{
    font-size: 40px;
    color: #FBBA0D;
    padding: 0 15px;
    margin: 0;
    line-height: 60px;
}
.system-title > span {
    font-size: 22px;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 25%;
	min-width: 220px;
    padding: 10px;
    box-sizing: border-box;
}
.card .card-body{
    border: 1px solid #ddd;
}
.card-image {
    height: 200px;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card-info{
    padding: 10px;
}
.car-title{
    color: #333;
    font-size: 22px;
}
.car-info{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
}
.btn-link,
.btn-Add-To-Cart{
    background: #0379FE;
    border: none;
    height: 32px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-link{
    box-sizing: border-box;
    line-height: 22px;
    display: inline-block;
    text-decoration: none;
}
.system-name{
    color: #fff;
    font-size: 26px;
}