<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/carReservation.css">
  <title>Car Reservation</title>
</head>
<body>
  <header>
    <b class="system-name">Car Rental Center</b>
  </header>
  <body>
    <p class="page-name">Car Reservation</p>
    <table id="shoppingCart">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Vehicle</th>
          <th>Price per Day</th>
          <th>Rental Days</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="cartBody">
      </tbody>
    </table>
    <div class="btns-box">
      <button class="btn-link" id="proceedToCheckOut">Proceeding to CheckOut</button>
    </div>
  </body>
  <script src="../js/carReservation.js"></script>
</body>
</html>